{% extends 'wrapper.html'%}
{% load static %}

{%block content %}
	<link rel="stylesheet" href="{% static 'style_change_password.css' %}">
	<script src="{% static 'js/change_password.js' %}"></script>

	<div class="change_password_conteiner container">
		<div class="title_change_form">
			<h4>Форма зміни пароля</h4>
		</div>
		<div class="success_change_password valid_hidden">
			<h4>Пароль вдало змінено!!!</h4>
		</div>
		<form action="{% url 'change_password' %}" id="change_password">
			{% csrf_token %}

			<div class="change_password_information">
				<div class="flex_form_change">
					<div class="form_span custumer_username_span">
						<span>Номер телефону:</span>
						<span class="required_field">*</span>
					</div>
					<div class="form_input custumer_username_input">
						<input type="tel" id="phone_number" required size="10" minlength="10" maxlength="10" placeholder="0953423123" pattern="[0-9]{10}" name="login"
							value="{{username}}">
						<div class="valid_user valid_hidden">
							<h4>Такого користувача не існує</h4>
						</div>
					</div>
					<div class="hidden_view_password">
						
					</div>
				</div>
				<div class="flex_form_change">
					<div class="form_span custumer_password_span">
							<span>Поточний пароль:</span>
							<span class="required_field">*</span>
					</div>
					<div class="form_input custumer_password_input">
						<input type="password" required size="64" maxlength="64" name="old_password"
							class="password" id="password3"  value="{{request.POST.old_password}}">
						<div class="valid_old_password valid_hidden">
							<h4>Невірний пароль</h4>
						</div>
					</div>
					<div class="hidden_view_password">
						<a href="#" id="view_password3">Показати пароль</a>
					</div>
				</div>
				<div class="flex_form_change">
					<div class="form_span custumer_password_span">
							<span>Новий пароль:</span>
							<span class="required_field">*</span>
					</div>
					<div class="form_input new_custumer_password_input_4">
						<input type="password" required size="64" maxlength="64" name="new_password"
							class="new_password" id="password4"  value="{{request.POST.new_password}}">
						<div class="valid_new_password valid_hidden">
							<h4>Введені паролі не співпадають</h4>
						</div>
						<div class="reliable_new_password reliable_new_password_4 valid_hidden">
							<h4>
								Пароль повинен містити цифри та букви латинського алфавіту великого та малого 
								регістру [a-z] [A-Z] [0-9], довжина не менше 8 символів
							</h4>
						</div>
					</div>
					<div class="hidden_view_password">
						<a href="#" id="view_password4">Показати пароль</a>
					</div>
				</div>
				<div class="flex_form_change">
					<div class="form_span custumer_password_span">
							<span>Повторіть новий пароль:</span>
							<span class="required_field">*</span>
					</div>
					<div class="form_input new_custumer_password_input_5">
						<input type="password" required size="64" maxlength="64" name="repeat_new_password"
							class="new_password" id="password5"  value="{{request.POST.repeat_new_password}}">
						<div class="valid_new_password valid_hidden">
							<h4>Введені паролі не співпадають</h4>
						</div>
						<div class="reliable_new_password reliable_new_password_5 valid_hidden">
							<h4>
								Пароль повинен містити цифри та букви латинського алфавіту великого та малого 
								регістру [a-z] [A-Z] [0-9], довжина не менше 8 символів
							</h4>
						</div>
					</div>
					<div class="hidden_view_password">
						<a href="#" id="view_password5">Показати пароль</a>
					</div>
				</div>
			</div>
			<div class="required">
				<h4>* Поля обов'язкові для заповнення</h4>
			</div>
			<div class="button_change_password">
				<button type="submit" class="button_change_password">Змінити пароль</button>
			</div>
		</form>
	</div>
{% endblock %}