.title_user_repair{
	text-align: center;
}
.title_user_repair h4{
	font-size: 24px;
}
.datatable_container table, .datatable_container th, .datatable_container td {
	border-collapse: collapse; 
	border: 1px solid #000;
	
}

th, td {
	padding: 5px 0px 0px 0px;
	width: 50%;
	font-size: 14px;
  	text-align: center;
}
