{% extends 'wrapper.html'%}
{% load static %}

{%block content %}
	<link rel="stylesheet" href="{% static 'style_device_maked.css' %}">
	<div class="container">
		<div class="flex_make_checkout">
			<div class="logo_checkout_maked">
				<div class="checkout_image">
					<img src="{% static '/media/logo/checkout_maked.png' %}" alt="Нового користувача та прилад створено">
				</div>
			</div>
			<div class="title_checkout_maked">
				<h4>Нового клієнта створено та додано прилад в базу ремонтів.</h4>
			</div>
			<div class="button_add_device">
				<a href="{% url 'new_device_form' %}">Додати інший прилад</a>
			</div>
		</div>
	</div>
{% endblock %}