{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div class="email_title">
			<h3>Вітаємо! Ви щойно зареєструвалися на сайті unimed.kiev.ua</h4>
		</div>
		<div class="email_login">
			<h4>Ваш логін: {{login_new_user}}</h4>
		</div>
		<div class="email_content">
			Інформацію про свої замовлення та ремонти Ви можете отримати 
			в особистому кабінеті на сайті. У особистий кабінет Ви можете потрапити натиснувши на
			свій логін в правому верхньому куту вікна браузера. Якщо з якихось причин Ви не можете відстежити 
			інформацію в особистому кабінеті зверніться до адміністраторів сайту та повідомте про проблему.
			Можете повідомити власні побаження для покращення сайту, ми будемо вдячні Вам)
		</div>
	</body>
</html>