{% extends 'wrapper.html'%}
{% load static %}

{% block meta_seo %}
	<title>Unimed - умови співпраці</title>
	<meta name="description" content="Умови співпраці, терміни ремонту та гарантії, співпраця з Unimed">
	<meta name="keywords" content="гарантія на ремонт, комплектуючі unimed, доставка, оплата, умови співпраці, медичне обладнання">
	<meta name="robots" content="index, follow">
{% endblock meta_seo %}
 
{%block content %}

<link rel="stylesheet" href="{% static 'style_how_we_work.css' %}">

<div class="container">
	<a name="how_buy" class="anchor"></a>
	<div class="how_buy">
		<div class="title_item for_padding">
			<h4>Як придбати товар</h4>
		</div>
		<div class="how_buy_list">
			<ol class="wsnumber2">
				<li>З реєстрацією на сайті
				 	<ul>
					    <li>
					    	У <a href="/products/sub_category">каталозі товарів</a> оберіть продукт, який Вас цікавить.
					    </li>
					    <li>
					    	Для того, щоб додати товар в кошик, потрібно увійти в особистий кабінет, якщо Ви вже 
							зареєстровані або <a href="{% url 'registration_new_user' %}">зареєструватися</a> на сайті.
					    </li>
					    <li>
					    	Після цього Ви можете додавати товари в кошик та оформлювати замовлення.
					    </li>
					    <li>
					    	Якщо Ви додали всі товари, які Вас цікавлять в кошик, оформіть замовлення і в найближций час представник
							компанії зв'яжеться з Вами для уточнення деталей. 
					    </li>
			   		</ul>
		  		</li>
		  		<li>Без реєстрації на сайті
		    		<ul>
		      			<li>
		      				Зв'яжіться з нами за <a href="{% url 'about_us' %}">контактними даними</a>, вказаними на сайті або 
							залиште <a href="{% url 'about_us' %}">заявку</a> на консультацію, і ми Вам зателефонуємо.
		      			</li>
		    		</ul>
		 		</li>
			</ol>
		</div>
	</div>
	<a name="how_repair" class="anchor"></a>
	<div class="how_repair">
		<a name="how_repair"></a>
		<div class="title_item">
			<h4>Умови ремонту</h4>
		</div>
		<div class="how_buy_list">
			<ol class="wsnumber2">
				<li> Типи обладнання, яке ми ремонтуємо, та перелік робіт
				 	<ul>
					    <li>
					    	Інформацію про типи обладнання, яке ми ремонтуємо, та перелік робіт наведено в категорії <a href="{% url 'category_repair' %}">"Ремонти"</a>. 
					    </li>
					    <li>
					    	Замовити ремонт або отримати технічну консультацію можна за <a href="{% url 'about_us' %}">контактними даними</a> вказаними на сайті або 
							заповнивши <a href="{% url 'about_us' %}">форму-заявку</a>, і ми Вам зателефонуємо.
					    </li>
			   		</ul>
		  		</li>
		  		<li>Етапи ремонту
		    		<ul>
		      			<li>
		      				Отримання та діагностика обладання.
		      			</li>
		      			<li>
		      				Надання дефектного акту.
		      			</li>
		      			<li>
		      				Погодження виконання та вартості робіт.
		      			</li>
		      			<li>
		      				Проведення ремонту.
		      			</li>
		      			<li>
		      				Передача обладнання замовнику.
		      			</li>
		      			<li>
		      				Оплата.
		      			</li>
		    		</ul>
		 		</li>
		 		<a name="how_guaranty" class="anchor"></a>
		 		<li>Гарантія
		    		<ul>
		      			<li>
		      				У більшості випадків термін гарантії на ремонтні роботи та комплектуючі становить
		      				12 місяців. В окремих випадках гарантійний термін може корегуватися та обговорюватися з 
		      				замовником.
		      			</li>
		    		</ul>
		 		</li>
		 		<a name="how_pay" class="anchor"></a>
		 		<li>Доставка обладнання
		    		<ul>
		      			<li>
		      				Самовивіз.
		      			</li>
		      			<li>
		      				Персональна доставка (тільки по місту Київ).
		      			</li>
		      			<li>
		      				"Нова пошта", "Укрпошта" та інші (доставка Безкоштовно, за наш рахунок).
		      			</li>
		    		</ul>
		 		</li>
		 		<li>Оплата
		    		<ul>
		      			<li>
		      				Оплата ремонтних робіт проводиться після здачі відремонтованого обладнання клієнту.
		      			</li>
		    		</ul>
		 		</li>
			</ol>
		</div>
	</div>

	<div class="how_use_personal_office">
		<div class="title_item">
			<h4>Можливості особистого кабінету</h4>
		</div>
		<div class="how_buy_list">
			<ol class="wsnumber2">
				<li> Для чого потрібний особистий кабінет?
				 	<ul>
					    <li>
					   		Зареєструвавшись на нашому сайті Ви отримуєте можливість відслідковувати історію та статус замовлень 
					   		і ремонтів. 
					    </li>
					    <li>
					    	Ви завжди будете знати, коли закінчується гарантійний термін ремонтних робіт, та в будь-який час зможете 
					    	отримати дефектний акт по ремонту.
					    </li>
					    <li>
					    	Без реєстрації Ви не зможете додати в кошик та замовити товар.
					    </li>
					    <li>
					    	Це дає можливість нам покращувати якість сервісу та розвивати зворотній зв'язок із клієнтами.
					    </li>
			   		</ul>
		  		</li>
		  		<li>Як зареєструватись в особистому кабінеті?
		    		<ul>
		      			<li>
		      				У верхньому правому куті вікна браузеру перейдіть за посиланням "Вхід/Реєстрація"
		      				та натисніть на кнопку <a href="{% url 'registration_new_user' %}">"Реєстрація"</a>.
		      			</li>
		      			<li>
		      				Заповніть форму достовірними даними (Важливо правильно вказати номер телефону, тому що він буде вашим логіном
		      				для входу на сайт і до нього буде "прив'язана" історія ремонтів та замовлень).
		      			</li>
		      			<li>
		      				Після заповнення реєстраційної форми натисніть на кнопку "Зареєструватися".
		      			</li>
		      			<li>
		      				Вітаємо!!! Ви створили особистий кабінет!
		      			</li>
		    		</ul>
		 		</li>
		 		<li>Що робити, якщо забули пароль?
		    		<ul>
		      			<li>
		      				У верхньому правому куті вікна браузеру перейдіть за посиланням "Вхід/Реєстрація"
		      				та натисніть на текст "Забули пароль?"
		      			</li>
		      			<li>
		      				Заповніть поле "Номер телефону" (це Ваш логін до особистого кабінету) і натисніть на 
		      				кнопку "Відновити пароль".
		      			</li>
		      			<li>
		      				На електронну адресу, яку Ви вказали при реєстрації, буде відправлено новий пароль.
		      			</li>
		      			<li>
		      				Якщо Ви хочете змінити пароль, зайдіть в особистий кабінет, натисніть на посилання "Змінити пароль" та
		      				заповніть форму зміни пароля.
		      			</li>
		    		</ul>
		 		</li>
			</ol>
		</div>
	</div>

</div>
{% endblock %}